<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>404 - Recipe Nook</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/"><img id="logo" src="/assets/img/recipeNook.png" alt="recipe nook logo"/></a>
    <div class="navlink"><a href="/login">Login</a></div>
  </nav>

  <div class="notFoundContainer">
    <h1 class="notFoundTitle">404</h1>
    <h2 class="notFoundSubtitle">Page Not Found</h2>
    <p class="notFoundText">The page you're looking for doesn't exist.</p>
    <a href="/" class="notFoundButton">Home</a>
  </div>
</body>
</html>
